@model IEnumerable<Ecommerce.Models.Category>

@{
    ViewData["Title"] = "Home Page";
}




   @* <p>
        <a asp-action="Create">Create New</a>
    </p>*@


            @foreach (var item in Model)
            {
               <div class="card m-4 float-start" style="width: 18rem;">
                  <img src="@item.CategoryImage" class="card-img-top " />

        <div class="card-body text-dark text-decoration-none ">
            <a asp-controller="Category" asp-action="CategoryPage" asp-route-id="@item.CategoryID" class="card-title text-dark text-decoration-none fs-4">

                        @Html.DisplayFor(modelItem => item.CategoryName)
                  </a>
                  <p class="card-text fs-6">
                      @Html.DisplayFor(modelItem => item.CategoryNDescription)
                  </p>
                  
               </div>
               </div>

            }


